{% extends "@SNBackup/Backup/base.html.twig" %}

{% block content %}
  <div class="row">
    <div class="col-sm-12 text-right">
      <a href="{{ path('sn_backup_create') }}" class="btn btn-success"><i class="glyphicon glyphicon-duplicate"></i> Create a backup</a>
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Type</th>
      <th>Version</th>
      <th>Commit</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for backup in backups %}
      <tr>
        <td class="col-md-1">{{ loop.index0 }}</td>
        <td class="col-md-3">{{ backup.timestamp|date('d/m/Y H:i') }}</td>
        <td class="col-md-2">{{ backup.type }}</td>
        <td class="col-md-2">{{ backup.version }}</td>
        <td class="col-md-2">{{ backup.commit(true) }}</td>
        <td class="col-md-2 text-right">
          <div class="btn-group">
            <a class="btn btn-default" href="{{ path('sn_backup_information', {id: loop.index0 }) }}"
               title="Informations"><i
                class="glyphicon glyphicon-eye-open"></i></a>
            <a class="btn btn-default" href="{{ path('sn_backup_download', {id: loop.index0 }) }}" title="Download"><i
                class="glyphicon glyphicon-save"></i></a>
            <a class="btn btn-danger" data-toggle="modal" data-target="#delete" data-id="{{ backup.timestamp }}"
               data-name="{{ backup.timestamp|date("Y-m-d H:i") }}" title="Delete"><i
                class="glyphicon glyphicon-trash"></i></a>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <div id="delete" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      {{ form_start(delete_form) }}
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Delete Backup</h4>
        </div>
        <div class="modal-body">
          <input type="hidden" name="timestamp" id="timestamp"/>
          <p>Do you really want to delete the backup "<span id="name"></span>"?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button type="submit" class="btn btn-danger">Yes</button>
        </div>
      </div>
      {{ form_end(delete_form) }}
    </div>
  </div>
{% endblock %}